*.rds
*/*/*.tif
*/*/*.pickle
fits/*
plots/*.eps
plots/*.key
plots/*.jpg
*_files/
.Rhistory
*.old
*.log
*.jpg
*.jpeg
*.png
*.pdf
data/queuing_snapshots/
make_figures_mRNA_localization_files/
.DS_Store
